#name {
    background-color:
     aquamarine;
    }

#surname {
     background-color: bisque;
    }
#Drive-expertion {
    background-color: blue;
}
#email {
    background-color: aquamarine;
}
* {color: blueviolet;}
fieldset {width: 20%;}