* {
    background-color: bisque;
}

ul{
    border: 
    5px rgb(209, 38, 38) 
    solid; }
li{
    display: inline;
    margin-right: 5%; 
    border: 1px 
    solid;
}
.auto {
    color: #12dfd4;
     margin-left: auto;
      font-size: 60px; 
}
table, tr, th, td {
    border: 2px solid;
}
table {
    color: #12dfd4;
    background: red;
}
.table4 {
    background-color: blue;
}
footer {
    margin-left: 40%;
}
#elemet {
  height: 190px;  
  max-width: 280px;    
}
#bmw {
    height: 400px;
    max-width: 680px; 
}
footer {color: blue;
margin-left: 30%;}
